<html>
<link rel="stylesheet" href="css/style.css">
<html lang="en">
<head>
	<title>About Us</title>
	<h1>About Us</h1>
	

	
</head>
<body>


<ul>
  <li><a href="index">Home</a></li>
  <li><a href="top_10_us">Top In The US</a></li>
  <li><a href="top_world">Top Tn The World</a></li>
  <li><a href="top_parks">Top Parks</a></li>
  <li><a href="about_us">About Us</a></li>
</ul>

</html>

<html>
<head>
<link rel="stylesheet" href="style.css">


</head>







	<p>Roller coasters have been the focal point of theme parks for decades, often singlehandedly making or breaking a venue’s reputation for death-defying fun.</p>

<p>
But with close to 4,000 documented roller coasters in the world, according to the Roller Coaster Database Census Report, how do you know which ones to try out before you die, and which ones simply aren't worth the time?</p>

<p>Thankfully, we have done the hard part for you, piecing together a list of a roller coaster bucket list of sorts. You'll find the tall, the smooth, the rickety, the fast, the dangerous, and the best designed on this site.</p>

All aboard, if you dare!

</body>
</html>

