
<!DOCtype HTML5>

<div class="fixed-bg">
<link rel="stylesheet" href="css/style.css">
<html lang ="en">
</div>
<header>
	<meta charset="utf-8">
	<title>Thrill Seekers Guide To Roller Coasters</title>
	<meta name="description" content="Thrill Seekers Guide To Roller Coasters">
	<meta name="author" content="Minedminds">
<h1><i><b>Thrill Seekers Guide To Roller Coasters</b></i></h1>
	

<ul>
  <li><a href="index">Home</a></li>
  <li><a href="top_10_us">Top Iconic in The US</a></li>
  <li><a href="top_world">Top In The World</a></li>
  <li><a href="top_parks">Top Parks</a></li>
  
</ul>
</header>

<body>

<b>Here is your results!</b><br>
 <%= amount%> will give you <%= coins%><br>



<p>Enjoy riding rollercoasters? We do as well! More information is right at your fingertips! We have compiled a few links to make your search for the perfect thrill much easier. Each page on this site contains links to the best lists.</p> 

You can also check out Mined Minds by clicking on the image below: 

<div id = mm><a href="http://www.minedminds.org"><img src = "./img/mm.jpg"></a></div>

</body>

<footer>
  <p>Posted by: Steph &copy Minedminds</p>

  <p>Contact information: <a href="mailto:info@minedminds.org">
  info@minedminds.org</a>.</p>
</footer>

</html>