<!DOCtype HTML5>
<html lang ="en">

<link rel="stylesheet" href="css/style.css">

<header>
	
	<meta charset="utf-8">
	<title>Thrill Seekers Guide To Roller Coasters</title>
	<meta name="description" content="Thrill Seekers Guide To Roller Coasters">
	<meta name="author" content="Minedminds">
	<h3><i><b>Thrill Seekers Guide To Roller Coasters</b></i></h3>
	
<ul>
  <li><a href="index">Home</a></li>
  <li><a href="contact">Contact Us</a></li>
</ul>
<div class="dropdown">
  	<button class="dropbtn">Coasters</button>
	<div class="dropdown-content">
	    	
    	<li><a href="top_10_us">Top Iconic in The US</a></li>
  		<li><a href="top_world">Top In The World</a></li>
 		<li><a href="top_parks">Top Parks</a></li> 
	

	</div>
	
</div>

</header>

<body>
<style type="text/css">
	div {
		background-color: rgba(255, 255,255,0.6);

	}
</style>

<!-- Went with bold on this line -->
<div id="cc" name="cc" title="coinhanger">
<i>You will be needing change while you visit, enter an amount and we will tell you exactly how many coins you will need.</i>
<!-- Went with italics on this line -->
<form method = 'post' action = '/index'>

	<input type = 'number' name = 'amount'>
	
	<input type = 'submit'>
</form> 

<script type="text/javascript">
function show_now() { 

var my_time = new Date();

alert(my_time); 

}
</script>
<input type=button value="Show Time" onclick="show_now();">	
 
</div>
<div id="index_text" name="index_text" title="index">
<p><b><i>Roller coasters have been the focal point of theme parks for decades, often singlehandedly making or breaking a venue’s reputation for death-defying fun.</i></b></p>

<p>
But with close to 4,000 documented roller coasters in the world, according to the Roller Coaster Database Census Report, how do you know which ones to try out before you die, and which ones simply aren't worth the time?</p>

<p>Thankfully, we have done the hard part for you, piecing together a list of a roller coaster bucket list of sorts. You'll find the tall, the smooth, the rickety, the fast, the dangerous, and the best designed on this site.</p>

All aboard, if you dare!
</div>

</body>
<footer>
  <p>Posted by: Steph &copy Minedminds</p>

  <p>Contact information: <a href="mailto:info@minedminds.org">
  info@minedminds.org</a>.</p>
</footer>

</html>
