<!DOCtype HTML5>
<html lang ="en">


<link rel="stylesheet" href="css/style.css">

<header>
	<meta charset="utf-8">
	<title>Top Parks To Visit</title>
	<meta name="description" content="Top Parks To Visit">
	<meta name="author" content="Minedminds">
	<h1><i><b>Top Parks To Visit</b></i></h1>
<ul>
  <li><a href="index">Home</a></li>
  <li><a href="top_10_us">Top In The US</a></li>
  <li><a href="top_world">Top In The World</a></li>
  <li><a href="top_parks">Top Parks</a></li>
  
</ul>
</header>
<style type="text/css">
		div {
		background-color: rgba(255, 255,255,0.6);

	}
</style>

<body>
<div id="parks" name="parks" title="parks">
	<p>Whether you’re dangling over a cliff in Hong Kong or standing at the top of a 330-foot drop on the coast of Spain, thrill rides are universal. Driving attendance by the millions, theme parks now compete on a global scale to win the attention of savvy adrenaline seekers.</p> <br>
	<p>There’s no replacement for the rush of being launched to 72 mph in 2 seconds, or bracing the walloping speeds reached on the world’s newest, fastest wooden roller coaster–two standouts in this compilation of the world’s best amusement parks.—Zachary Laks</p><br>
	<p><i><b> For a compiled list of the best theme parks to visit, click the picture below.</b></i> </p>
	<a href = 'http://www.themeparktourist.com/features/20140228/16441/top-50-theme-parks-world'><img src = "./img/disney.jpg"></a>
</div>
</body>
<footer>
  <p>Posted by: Steph &copy Minedminds</p>

  <p>Contact information: <a href="mailto:info@minedminds.org">
  info@minedminds.org</a>.</p>
</footer>

</html>
