<!DOCtype HTML5>
<html lang ="en">


<link rel="stylesheet" href="css/style.css">	

<header>
	<meta charset="utf-8">
	<title>Top North America Coasters</title>
	<h1><i><b>Top North America Coasters</b></i></h1>
	<meta name="description" content="Thrill Seekers Guide To Roller Coasters">
	<meta name="author" content="Minedminds">

	

	
	<ul>
  	<li><a href="index">Home</a></li>
  	<li><a href="top_10_us">Top Iconic In The US</a></li>
 	<li><a href="top_world">Top In The World</a></li>
  	<li><a href="top_parks">Top Parks</a></li>
  
</ul>
</header>
<style type="text/css">
	div {
			
		background-color: rgba(255, 255,255,0.6);

	

	}
</style>
<body>
<div id="us" name="us" title="us">
<p>We get it. You’ve seen dozens of cheap, page view-grabbing slideshows, read a series of misinformed opinion pieces, and glared at tweets proclaiming Space Mountain the “best ride ever!” You’re upset. We’re upset. It’s time to set the record straight.</p>
<p>Roller coasters represent America's finest opportunity for unleashing guttural, primal screams like an absolute maniac, as doing so at the community pool will probably lead to some teenage lifeguard politely asking you to leave. But on a roller coaster? You're free to maniacally embrace that rush of adrenaline and dopamine safely among like-minded individuals pursuing the exact same thing.</p>

<p>The better the roller coaster, the bigger the rush. But what makes one coaster better than another? It's a combination of factors, including (but not restricted to) height, speed, G-forces, airtime, the ride's elements, and its layout. As a longtime roller coaster aficionado, I've curated the following list based partly on said stats, but mostly, it's based on the "research" I've conducted by riding and re-riding dozens of coasters of all shapes and sizes throughout the country. Essentially, I'm little more than a mass of adrenaline and dopamine at this point. If that sounds good to you, here's where you should start.</p>




<p><i>Without further ado, Click on the photo below of Full Throttle located in California for a list of the top roller coasters in North America.</i></p>
<a href = 'http://www.thrillist.com/travel/nation/best-roller-coasters-united-states-of-america'><img src = "./img/full_throttle_CA.jpg"></a>
</div>
</body>
<footer>
  <p>Posted by: Steph &copy Minedminds</p>

  <p>Contact information: <a href="mailto:info@minedminds.org">
  info@minedminds.org</a>.</p>
</footer>

</html>

