<!DOCtype HTML5>
<html lang ="en">

<link rel="stylesheet" href="css/style.css">
</div>
<header>
	<meta charset="utf-8">
	<title>Top Coasters Worldwide</title>
	<meta name="description" content="Top Coasters Worldwide">
	<meta name="author" content="Minedminds">
	<h1><i><b>Top Coasters Worldwide</b></i></h1>
	
<ul>
  <li><a href="index">Home</a></li>
  <li><a href="top_10_us">Top Iconic In The US</a></li>
  <li><a href="top_world">Top In The World</a></li>
  <li><a href="top_parks">Top Parks</a></li>

</ul>
</header>
<style type="text/css">
	
		div {
		background-color: rgba(255, 255,255,0.6);

	}

</style>
<body>
<div id="world" name="world" title="world">
	<p>Rollercoasters might just be one of humanity’s most impressive creation. Seriously — have you ever been to Six Flags before? It’s crazy. The engineering required in order to build the winding, looping structures and secure the high-velocity cars that ride along on them is mind-boggling. Not only that, but they’re extremely fun to ride, and have given birth to many an adrenaline junkie. Sure, they’ve also created plenty anxiety-riddled individuals who begin to hyperventilate at the mere thought of them along the way, but regardless of your individual stance, you can’t deny they’re an impressive feat of engineering. With that in mind, below are seven record-breaking rollercoasters from around the globe to add to your bucket list… or just admire from afar.</p>


<p>There is absolutely nothing to compare with the thrill of having a roller coaster ride. Notable roller coasters like Formula Rossa, Kingda Ka, Top Thrill Dragster, Dodonpa and Superman : Escape from Krypton can exceeds blazing speed of 100 mph</p>

<i>Here’s a look at the most scream-worthy attractions in the world! Click on the picture of the Ferrari coaster in Abu Dabi.</i><br>

<a href = 'http://coasterbuzz.com/RollerCoasters/Top100'><img src = "/img/ferrari.jpg"></a>
</div>
</body>
<footer>
  <p>Posted by: Steph &copy Minedminds</p>

  <p>Contact information: <a href="mailto:info@minedminds.org">
  info@minedminds.org</a>.</p>
</footer>

</html>

