
<!DOCtype HTML5>


<link rel="stylesheet" href="css/style.css">

<html lang ="en">


<header>
	<meta charset="utf-8">
	<title>Thrill Seekers Guide To Roller Coasters</title>
	<meta name="description" content="Thrill Seekers Guide To Roller Coasters">
	<meta name="author" content="Minedminds">
<h1><i><b>Thrill Seekers Guide To Roller Coasters</b></i></h1>
	

<ul>
  <li><a href="index">Home</a></li>
  <li><a href="top_10_us">Top Iconic in The US</a></li>
  <li><a href="top_world">Top In The World</a></li>
  <li><a href="top_parks">Top Parks</a></li>
  
</ul>
</header>
<script type="text/javascript">
 function enter(elem){
     elem.style.backgroundColor = '#FFFFFF';

 }

 function leave(elem){
     elem.style.backgroundColor = 'rgba(255, 255,255,0.6)';
 }
</script>
 <!-- <div >
       Some Text
 </div> -->
</style>

<body>

<div id="con1" name= "con1" title="results" onmouseover="enter(this)" onmouseout="leave(this)">
<b>Here is your results!</b><br>
 <%= amount%> will give you <%= coins%><br>

<script type="text/javascript">

  var currentTime = new Date(),
      hours = currentTime.getHours(),
      minutes = currentTime.getMinutes();

  if (minutes < 10) {
   minutes = "0" + minutes;
  }

  var suffix = "AM";
  if (hours >= 12) {
    suffix = "PM";
    hours = hours - 12;
  }
  if (hours == 0) {
   hours = 12;
  }
  document.write(hours + ":" + minutes + suffix + "   ")
</script> 
<script type="text/javascript">
  var currentDate = new Date(),
      day = currentDate.getDate(),
      month = currentDate.getMonth() + 1,
      year = currentDate.getFullYear();
  document.write(day + "/" + month + "/" + year)
</script>

</div>
<div id = rc><a href="#"><img src = "./img/rc_bladder.png"onclick="document.body.style.backgroundImage = 'url(/img/rc_bladder.png)'"></a>

 
</div>
<div id="con2" name="con2" title="Contact"onmouseover="enter(this)" onmouseout="leave(this)">
<p>Enjoy riding rollercoasters? We do as well! More information is right at your fingertips! We have compiled a few links to make your search for the perfect thrill much easier. Each page on this site contains links to the best lists.</p> 

You can also check out Mined Minds by clicking on the image below: 




<div id = mm><a href="http://www.minedminds.org"><img src = "./img/mm.jpg"></a>

</div>


</div>
</body>

<footer>
  <p>Posted by: Steph &copy Minedminds</p>

  <p>Contact information: <a href="mailto:info@minedminds.org">
  info@minedminds.org</a>.</p>
</footer>

</html>